.navbar {
  .home-logo {
    padding-top: 1rem;
  }

  .home-logo:hover {
    cursor: pointer;
  }

  .nav-link {
    margin: 0 20px;
    font-size: 1.2rem;
  }

  .resume-button {
    font-weight: bold;
    border: 2px solid;
    margin-top: -8px;
    margin-left: 2vw;
  }

  .resume-button:hover {
    background-color: #401e15;
  }
}
