<div class="container">
  <nav class="navbar">
    <div class="container-fluid">
      <!-- <a class="navbar-brand">Sagar</a> -->
      <img src="../assets/images/Sagar.png" alt="SAGAR" class="home-logo" (click)="redirectToHomePage()">
      <form class="d-flex blue-font" role="search">
        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button> -->
        <a class="nav-link cool-link" href="home"><span style="color: white;">0.</span> Home</a>
        <a class="nav-link cool-link" href="home/about"><span style="color: white;">1.</span> About</a>
        <a class="nav-link cool-link" href="home/experience"><span style="color: white;">2.</span> Experience</a>
        <a class="nav-link cool-link" href="home/projects"><span style="color: white;">3.</span> Projects</a>
        <a class="nav-link cool-link" href="home/education"><span style="color: white;">4.</span> Education</a>
        <button type="button" class="btn resume-button blue-font">Resume</button>
      </form>
    </div>
  </nav>
</div>
