.navbar {
  .home-logo:hover {
    cursor: pointer;
  }

  .nav-link {
    margin: 0 20px;
  }

  .resume-button {
    border: 1px solid;
    margin-top: -8px;
    margin-left: 2vw;
  }

  .resume-button:hover {
    background-color: #153140;
  }
}
