<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <img src="../assets/images/sagar_logo_red.png" alt="SAGAR" class="navbar-brand home-logo"
        (click)="redirectToHomePage()">
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
          <a class="nav-item nav-link red-color cool-link" href="home"><span class="voilet-color">00.</span> HOME</a>
          <a class="nav-item nav-link red-color cool-link" href="home/about"><span class="voilet-color">01.</span>
            ABOUT</a>
          <a class="nav-item nav-link red-color cool-link" href="home/skills"><span class="voilet-color">02.</span>
            SKILLS</a>
          <a class="nav-item nav-link red-color cool-link" href="home/experience"><span class="voilet-color">03.</span>
            EXPERIENCE</a>
          <a class="nav-item nav-link red-color cool-link" href="home/projects"><span class="voilet-color">04.</span>
            PROJECTS</a>
        </div>
      </div>
    </div>
  </nav>
</div>
