<div class="container">
  <nav class="navbar">
    <div class="container-fluid">
      <!-- <a class="navbar-brand">Sagar</a> -->
      <img src="../assets/images/Sagar.png" alt="SAGAR">
      <form class="d-flex blue-font" role="search">
        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button> -->
        <a class="nav-link cool-link" href="/"><span style="color: white;">01.</span> Home</a>
        <a class="nav-link cool-link" href="/"><span style="color: white;">02.</span> About</a>
        <a class="nav-link cool-link" href="/"><span style="color: white;">03.</span> Experience</a>
        <a class="nav-link cool-link" href="/"><span style="color: white;">04.</span> Projects</a>
        <a class="nav-link cool-link" href="/"><span style="color: white;">05.</span> Education</a>
        <button type="button" class="btn resume-button blue-font">Resume</button>
      </form>
    </div>
  </nav>
</div>
