<div class="col-md-12 container">
  <h4 class="col-md-12 heading voilet-color"><span class="red-color bold">04.</span> Projects</h4>
  <div class="col-md-12 projects">
    <h5 class="col-md-12 opening-tag red-color">&lt;projects&gt;</h5>
    <div class="col-md-12 project">
      <div class="col-md-4">
        <img src="../../../assets/images/projects/portfolio-laptop.png" alt="portfolio">
      </div>
      <div class="col-md-8">NOICE</div>
    </div>
    <div class="col-md-12 project">
      <div class="col-md-4">
        <img src="../../../assets/images/projects/portfolio-laptop.png" alt="portfolio">
      </div>
      <div class="col-md-8">NOICE</div>
    </div>
    <div class="col-md-12 project">
      <div class="col-md-4">
        <img src="../../../assets/images/projects/portfolio-laptop.png" alt="portfolio">
      </div>
      <div class="col-md-8">NOICE</div>
    </div>
    <div class="col-md-12 project">
      <div class="col-md-4">
        <img src="../../../assets/images/projects/portfolio-laptop.png" alt="portfolio">
      </div>
      <div class="col-md-8">NOICE</div>
    </div>
    <div class="col-md-12 project">
      <div class="col-md-4">
        <img src="../../../assets/images/projects/portfolio-laptop.png" alt="portfolio">
      </div>
      <div class="col-md-8">NOICE</div>
    </div>
    <h5 class="col-md-12 closing-tag red-color">&lt;/projects&gt;</h5>
  </div>
</div>
