.container {
  margin-top: 3vh;
  animation: transitionIn 2.5s;

  .heading {
    text-align: left;
  }

  .heading::after {
    display: inline-block;
    content: "";
    border-top: 3px solid #cf1c1a;
    width: 10vw;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
  }

  .projects {
    margin-top: 3vh;

    .project {
      display: flex;

      .details {
        .name {
          margin-top: 5vh;
        }

        .description {
          border: 1px solid;
          border-radius: 5px;
          padding: 4%;
          background-color: #272727;
        }

        .tech-used {
          margin-top: 2vh;

          .img {
            height: 2rem;
            margin: 0 1rem;
          }

          .img:hover {
            transform: scale(1.4);
            transition: 0.25s;
          }

          .tech {
            display: inline-block;
            margin: 0 0.5vw;

            .badge {
              background-color: #902322 !important;
            }
          }
        }
      }

      .links {
        margin-top: 3vh;
        display: flex;

        .hosted-link,
        .github-link {
          background-color: #902322 !important;
        }

        .hosted-link:hover,
        .github-link:hover {
          transform: scale(1.1);
          transition: 0.5s;
        }

        :hover {
          cursor: pointer;
        }
      }
    }

    .project:nth-child(even) {
      flex-direction: row-reverse;
    }
  }
}

@media screen and (min-width: 320px) {
  .project {
    display: block !important;

    h6 {
      font-size: 0.8rem;
    }

    button {
      font-size: 0.6rem;
    }
  }

  .img {
    height: 1.5rem !important;
    margin: 0 0.3rem !important;
  }
}

@media screen and (min-width: 768px) {
  .project {
    display: flex !important;

    h6 {
      font-size: 0.9rem;
    }

    button {
      font-size: 0.7rem;
    }
  }

  .img {
    height: 1.5rem !important;
    margin: 0 0.3rem !important;
  }
}

@media screen and (min-width: 1024px) {
  .project {
    display: flex !important;

    h6 {
      font-size: 1rem;
    }

    button {
      font-size: 1rem;
    }
  }

  .img {
    height: 1.8rem !important;
    margin: 0 1rem !important;
  }
}

@media screen and (min-width: 1440px) {
  .project {
    display: flex !important;

    h6 {
      font-size: 1rem;
    }

    button {
      font-size: 1rem;
    }
  }

  .img {
    height: 1.8rem !important;
    margin: 0 1rem !important;
  }
}
