.container {
  margin-top: 3vh;
  animation: transitionIn 2.5s;

  .heading {
    text-align: left;
  }

  .heading::after {
    display: inline-block;
    content: "";
    border-top: 3px solid #cf1c1a;
    width: 10vw;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
  }

  .projects {
    .project {
      display: flex;
    }
  }
}
