<div class="col-md-12 container">
  <h4 class="col-md-12 heading voilet-color"><span class="red-color bold">04.</span> Projects</h4>
  <div class="col-md-12 projects">
    <h5 class="col-md-12 opening-tag red-color">&lt;projects&gt;</h5>
    <div class="col-md-12 project" *ngFor="let project of projects">
      <div class="col-md-5">
        <img src={{project.image}} alt="{{project.name}}" class="col-md-12 voilet-color">
      </div>
      <div class="col-md-7 voilet-color details">
        <h4 class="col-md-12 bold name text-center">{{project.name}}</h4>
        <h6 class="col-md-12 description">{{project.description}}</h6>
        <h6 class="col-md-12 tech-used">Tech Used:
          <span *ngFor="let tech of project.tech_used">
            <img class="img" src="{{tech.img_link}}" alt="{{tech.name}}">
          </span>
        </h6>
        <div class="col-md-12 links">
          <div class="col-md-4">
            <button (click)="redirectToLink(project.hostedLink)" type="button" class="btn btn-danger hosted-link">
              View It Here <i class="fas fa-external-link-alt"></i>
            </button>
          </div>
          <div class="col-md-4">
            <button (click)="redirectToLink(project.githubLink)" type="button" class="btn btn-danger github-link">
              View Github Repo <i class="fas fa-external-link-alt"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <h5 class="col-md-12 closing-tag red-color">&lt;/projects&gt;</h5>
  </div>
</div>
