.container {
  margin-top: 3vh;
  animation: transitionIn 2.5s;

  .heading {
    text-align: left;
  }

  .heading::after {
    display: inline-block;
    content: "";
    border-top: 3px solid #cf1c1a;
    width: 10vw;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
  }

  .body {
    margin-top: 3vh;
    display: flex;
    flex-flow: wrap;

    .header {
      margin-bottom: 2vh;
    }

    .frontend,
    .backend,
    .others {
      margin: 2vh 0;
    }

    .skill {
      margin: 1.5vh 0;
      text-align: center;

      .fa-code {
        font-size: 3rem;
        margin-bottom: 2vh;
      }

      .image {
        img {
          height: 3rem;
          margin-bottom: 2vh;
        }
      }
    }
  }
}

.progress {
  --bs-progress-height: 0.5vh;
}

.bg-danger {
  background-color: #cf1c1a !important;
}

.fa-lambda::before {
  content: "\4c";
}
