<div class="col-md-12 container">
  <h4 class="col-md-12 heading voilet-color"><span class="red-color bold">02.</span> My Toolbox & Things I Can Do</h4>
  <div class="col-md-12 voilet-color body">
    <h5 class="col-md-12 opening-tag red-color">&lt;skills&gt;</h5>
    <h5 class="col-md-12 header">The skills, tools and technologies I use to bring code to life: </h5>
    <h5 class="col-md-12 frontend">Frontend:</h5>
    <div class="col-md-2 skill" *ngFor="let skill of frontendSkills">
      <h1 class="col-md-12">
        <i *ngIf="!skill.image" [class]="skill.class" aria-hidden="true"></i>
        <span class="image"><img *ngIf="skill.image" [class]="skill.class" src="{{skill.path}}"
            alt="{{skill.name}}"></span>
      </h1>
      <h5 class="col-md-12">{{skill.name}}</h5>
    </div>
    <h5 class="col-md-12 backend">Backend:</h5>
    <div class="col-md-2 skill" *ngFor="let skill of backendSkills">
      <h1 class="col-md-12">
        <i *ngIf="!skill.image" [class]="skill.class" aria-hidden="true"></i>
        <span class="image"><img *ngIf="skill.image" [class]="skill.class" src="{{skill.path}}"
            alt="{{skill.name}}"></span>
      </h1>
      <h5 class="col-md-12">{{skill.name}}</h5>
    </div>
    <h5 class="col-md-12 others">Others:</h5>
    <div class="col-md-2 skill" *ngFor="let skill of otherSkills">
      <h1 class="col-md-12">
        <i *ngIf="!skill.image" [class]="skill.class" aria-hidden="true"></i>
        <span class="image"><img *ngIf="skill.image" [class]="skill.class" src="{{skill.path}}"
            alt="{{skill.name}}"></span>
      </h1>
      <h5 class="col-md-12">{{skill.name}}</h5>
    </div>
    <h5 class="col-md-12 closing-tag red-color">&lt;/skills&gt;</h5>
  </div>
</div>
