.profile {
  position: absolute;
  left: 50%;
  top: 55%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
}

.social-handles {
  margin-top: 5rem;

  .icon:hover {
    cursor: pointer;
    color: #cfd6ed;
  }

  .leetcode-icon {
    font-size: 1.6em;
    margin-bottom: 0.5rem;
  }

  .first-icon-margin {
    margin-right: 2rem;
  }

  .icon-margin {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .last-icon-margin {
    margin-left: 2rem;
  }
}
