<div class="col-md-12 container">
  <h4 class="col-md-12 heading voilet-color"><span class="red-color">01.</span> About Me</h4>
  <div class="col-md-12 grey-color body">
    <div class="col-md-7">
      <p class="col-md-12">
        Hello :) My name is Sagar Gupta and I enjoy creating things that lives on the internet. Hello! My name is
        Brittany
        and I enjoy creating things that live on the internet. My interest in web development started back in 2012 when
        I
        decided to try editing custom Tumblr themes — turns out hacking together a custom reblog button taught me a lot
        about HTML & CSS!
      </p>
      <p class="col-md-12">
        Fast-forward to today, and I"ve had the privilege of working at an advertising agency, a start-up, a huge
        corporation, and a student-led design studio. My main focus these days is building accessible, inclusive
        products and digital experiences at Upstatement for a variety of clients.
      </p>
      <p class="col-md-12">
        Here are a few technologies I"ve been working with recently:

        JavaScript (ES6+)
        TypeScript
        React
        Eleventy
        Node.js
        WordPress
      </p>
      <p class="col-md-12">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam voluptatum vero id! Quia reiciendis similique
        vitae error quisquam totam tenetur esse id delectus, obcaecati veritatis debitis quod ex libero magnam!
        Eligendi corporis explicabo et ab architecto possimus exercitationem, hic officiis natus delectus esse tempora
        sunt! Enim at impedit animi hic corrupti necessitatibus iste, pariatur excepturi aspernatur, porro quis
        temporibus repudiandae.
      </p>
      <p class="col-md-12">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam voluptatum vero id! Quia reiciendis similique
        vitae error quisquam totam tenetur esse id delectus, obcaecati veritatis debitis quod ex libero magnam!
        Eligendi corporis explicabo et ab architecto possimus exercitationem, hic officiis natus delectus esse tempora
        sunt! Enim at impedit animi hic corrupti necessitatibus iste, pariatur excepturi aspernatur, porro quis
        temporibus repudiandae.
      </p>
    </div>

    <!-- <div class="col-md-5 image-container">
      <img src="../../../assets/images/sagar-grey-background.png" alt="SAGAR" class="image">
      <div class="background"></div>
    </div> -->

    <div class="col-md-5 orbit">
      <ul class="orbit-wrap">
        <li class="orbit-center">
          <i class="orbit-center__icon fa fa-code"></i>
        </li>
        <li>
          <ul class="ring-0">
            <li><i class="orbit-icon fa fa-git"></i></li>
            <li><i class="orbit-icon fa fa-free-code-camp"></i></li>
            <li><i class="orbit-icon fa fa-meetup"></i></li>
            <li><i class="orbit-icon fa fa-codepen"></i></li>
          </ul>
        </li>
        <li>
          <ul class="ring-1">
            <li><i class="orbit-icon fa fa-podcast"></i></li>
            <li><i class="orbit-icon fa fa-css3"></i></li>
            <li><i class="orbit-icon fa fa-html5"></i></li>
          </ul>
        </li>
        <li>
          <ul class="ring-2">
            <li><i class="orbit-icon fa fa-windows"></i></li>
            <li><i class="orbit-icon fa fa-safari"></i></li>
            <li><i class="orbit-icon fa fa-edge"></i></li>
            <li><i class="orbit-icon fa fa-linux"></i></li>
            <li><i class="orbit-icon fa fa-apple"></i></li>
            <li><i class="orbit-icon fa fa-chrome"></i></li>
            <li><i class="orbit-icon fa fa-android"></i></li>
            <li><i class="orbit-icon fa fa-firefox"></i></li>
          </ul>
        </li>
        <li>
          <ul class="ring-3">
            <li><i class="orbit-icon fa fa-coffee"></i></li>
            <li><i class="orbit-icon fa fa-terminal"></i></li>
            <li><i class="orbit-icon fa fa-heart-o"></i></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</div>
