.container {
  margin-top: 3vh;

  .heading {
    text-align: left;
    animation: transitionIn 2.5s;
  }

  .heading::after {
    display: inline-block;
    content: "";
    border-top: 3px solid #cf1c1a;
    width: 10vw;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
  }

  .closing-tag {
    margin: 0 !important;
  }

  .body {
    display: flex;
    display: inline-block;

    .complete-body {
      animation: transitionIn 2.5s;

      .about {
        .heading {
          margin-bottom: 2.5vh;
        }

        .email {
          .email_id {
            color: #cf1c1a;
            text-decoration: underline;
          }

          .email_icon {
            height: 1.5rem;
            margin-right: 0.5rem;
            width: fit-content !important;
          }

          :hover {
            cursor: pointer;
          }
        }
      }

      .education {
        .heading {
          margin: 2.5vh 0;
        }

        .bpit,
        .twelfth {
          background-color: #272727;
          border: 1px solid;
          border-radius: 10px;
          padding-left: 2vh;
          padding-top: 1vh;
          margin: 2vh 0;
        }
      }

      .contact {
        display: flex;

        .heading {
          margin: 2.5vh 0;
        }

        .first-img,
        .img,
        .last-img {
          height: 2rem;
          width: fit-content !important;
        }

        .img {
          margin: 0 0.8rem;
        }

        .img:hover {
          cursor: pointer;
          transform: scale(1.5);
          transition: 0.25s;
        }
      }
    }
  }

  .image-container {
    position: relative;
    width: 15vw;
    height: 30vh;
    margin-left: 5vw;
    background-color: #153140;

    .image {
      opacity: 0.5;
      display: block;
      width: 100%;
      height: auto;
      transition: 0.5s ease;
      backface-visibility: hidden;
      width: 15vw;
      height: 30vh;
      border-radius: 5px;
    }

    .background {
      height: 30vh;
      width: 15vw;
      position: absolute;
      border: 2px solid #cf1c1a;
      top: 0;
      margin-left: 1.5rem;
      margin-top: 1.5rem;
      z-index: -1;
      border-radius: 5px;
    }
  }

  .image-container:hover .background {
    margin-top: 1rem;
    margin-left: 1rem;
    transition: 0.5s;
  }

  .image-container:hover .image {
    opacity: 0.8;
  }
}

@media screen and (min-width: 320px) {
  .contact {
    display: block !important;
  }

  .contact {
    .heading {
      margin: 2.5vh 0 !important;
    }
  }

  .first-img,
  .img,
  .last-img {
    margin-bottom: 2vh !important;
  }

  .orbit {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contact {
    display: block !important;
  }

  .contact {
    .heading {
      margin: 2.5vh 0 !important;
    }
  }

  .first-img,
  .img,
  .last-img {
    margin-bottom: 2vh !important;
  }

  .orbit {
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .contact {
    display: flex !important;
  }

  .contact {
    .heading {
      margin: 2.5vh 0 !important;
    }
  }

  .first-img,
  .img,
  .last-img {
    margin-top: 2vh !important;
  }
}

// orbit css
$orbitItemSize: 1.6em;
$map: (
  ring-0: 4,
  ring-1: 3,
  ring-2: 8,
  ring-3: 3,
);
$lastRing: 3;

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

.orbit {
  position: absolute;
  z-index: -1;
  top: 15%;
  left: 5%;

  .orbit-icon {
    width: $orbitItemSize;
    height: $orbitItemSize;
    line-height: $orbitItemSize;
    font-size: 1.2em;
    border-radius: 50%;
    background: #ccc;
    color: #fff;
    text-align: center;
    display: block;
  }

  @media screen and (min-width: 320px) {
    .orbit-wrap {
      font-size: 0em;
    }
  }

  @media screen and (min-width: 768px) {
    .orbit-wrap {
      font-size: 0.7em;
    }
  }

  @media screen and (min-width: 1024px) {
    .orbit-wrap {
      font-size: 0.8em;
    }
  }

  @media screen and (min-width: 1440px) {
    .orbit-wrap {
      font-size: 1.2em;
    }
  }

  @media screen and (min-width: 2500px) {
    .orbit-wrap {
      font-size: 1.5em;

      > li {
        left: 70% !important;
        top: 35% !important;
      }
    }
  }

  .orbit-wrap {
    height: 40em;
    list-style: none;
    // font-size: 1.3em;

    > li {
      position: absolute;
      left: 75%;
      top: 50%;
      transform: translate(-50%, -50%);

      &:hover {
        ul {
          border-width: 2px;
          border-color: #fff;
        }
        ~ li ul {
          border-color: rgba(255, 255, 255, 0.2);
          li {
            opacity: 0.4;
          }
        }
      }
    }
  }

  ul[class^="ring"] {
    @extend %ring;
    transition: all 300ms ease-in-out;
    li {
      @extend %orbiting-object;
      transition: all 300ms ease-in-out;
    }
  }

  @mixin orbit-item($numItems, $numRing) {
    @for $s from 1 through $numItems {
      // Spread items over the ring
      $deg: calc(380deg / $numItems);

      .ring-#{$numRing} > *:nth-of-type(#{$s}) {
        transform: rotate($s * $deg)
          translate(12.5em - ($numRing * 2.5))
          rotate(-$s * $deg);
      }
    }
  }

  // Render rings
  @for $i from 0 through $lastRing {
    .ring-#{$i} {
      // decrease each ring in size
      width: 25em - ($i * 5);
      height: 25em - ($i * 5);
      animation: clockwiseRotate 35s - ($i * 5) linear infinite;

      i {
        animation: counterClockwiseRotate 35s - ($i * 5) linear infinite;
      }
    }

    @include orbit-item(map-get($map, ring-#{$i}), $i);
  }

  %ring {
    border: solid 1px #cf1c1a;
    position: relative;
    padding: 0;
    border-radius: 50%;
    list-style: none;
    box-sizing: content-box;
  }

  %orbiting-object {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: $orbitItemSize;
    height: $orbitItemSize;
    margin: -$orbitItemSize / 2;
  }

  /*
    center;
  */
  .orbit-center {
    z-index: 5;
    font-size: 2em;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8em;
    text-align: center;
    background: #cf1c1a;
    border-radius: 50%;

    &:hover .orbit-center__icon {
      transform: rotateZ(0deg);
    }
  }
  .orbit-center__icon {
    transform: rotateZ(-360deg);
    transition: all 300ms ease-in-out;
  }
  .orbit-wrap > li.orbit-center:hover ~ li > ul {
    width: 0;
    height: 0;
    * {
      transform: translate(0, 0);
    }
  }

  /*
  animations
  */
  @keyframes clockwiseRotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes counterClockwiseRotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

  /*
  icons
  */
  $icons: (
    ("heart-o", #b71c1c, white),
    ("coffee", #4caf50, #cddc39),
    ("safari", white, darkslateblue),
    ("firefox", #1565c0, #ff8f00),
    ("chrome", #fbc02d, #ef6c00),
    ("edge", #03a9f4, white),
    ("android", snow, limegreen),
    ("apple", #444, white),
    ("linux", white, #222),
    ("windows", white, #03a9f4),
    ("terminal", #222, #fff),
    ("html5", white, #e65100),
    ("css3", white, #2196f3),
    ("git", #222, white),
    ("free-code-camp", green, white),
    ("meetup", red, white),
    ("podcast", red, white),
    ("codepen", #333, white)
  );

  @each $icon in $icons {
    .fa-#{nth($icon, 1)} {
      background: nth($icon, 2);
      color: nth($icon, 3);
    }
  }
}
