<div class="col-12 col-sm-12 col-md-12 col-xl-12 container">
  <h5 class="col-12 col-sm-12 col-md-12 col-xl-12 opening-tag red-color bold">&lt;about&gt;</h5>
  <div class="col-12 col-sm-12 col-md-12 col-xl-7 voilet-color body">
    <div class="col-12 col-sm-12 col-md-6 col-xl-12 complete-body">
      <div class="col-12 col-sm-12 col-md-12 col-xl-12 about">
        <h4 class="col-12 col-sm-12 col-md-12 col-xl-12 heading bold voilet-color">ABOUT ME</h4>
        <h5 class="col-12 col-sm-12 col-md-12 col-xl-12">
          Hello! My name is Sagar. I'm a developer who enjoy creating things that lives on the internet and become
          legacy.
        </h5>
        <br>
        <h5 class="col-12 col-sm-12 col-md-12 col-xl-12">
          I am a Full-Stack Developer who loves to Solve Real Life Problems using Code 👨🏻‍💻. I like Working on
          Projects 💻, Reading Books 📚 and Games 🎮.
        </h5>
        <br>
        <h5 class="col-12 col-sm-12 col-md-12 col-xl-12">
          I am open to Job opportunities where I can contribute, Learn and Grow. If you have a good
          opportunity that matches my
          <a class="red-color" href="/home/skills">skills</a> and
          <a class="red-color" href="/home/experience">experience</a>
          then don't hesitate to contact me at -
          <span class="email" (click)="openEmailLink()">
            <img src="../../../assets/images/email_icon.png" class="email_icon" alt="email_icon">
            <span class="email_id">gupta.sagar797@gmail.com</span>
          </span>
        </h5>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-xl-12 education">
        <h4 class="col-12 col-sm-12 col-md-12 col-xl-12 heading bold">EDUCATION</h4>
        <div class="col-12 col-sm-12 col-md-12 col-xl-12" [ngClass]="education.css_class"
          *ngFor="let education of educationData">
          <h5 class="col-12 col-sm-12 col-md-12 col-xl-12 bold">{{education.name}}</h5>
          <p class="col-12 col-sm-12 col-md-12 col-xl-12">{{education.standard}}</p>
          <p class="col-12 col-sm-12 col-md-12 col-xl-12">
            <i class="far fa-calendar"></i> {{education.timeline.from}} - {{education.timeline.to}},
            {{education.score.name}}: {{education.score.value}}
            <span *ngIf="education.score.total">/{{education.score.total}}</span>
          </p>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-12 contact">
        <h4 class="col-12 col-sm-12 col-md-12 col-xl-8 col-xxl-9 heading bold">CONNECT WITH ME</h4>
        <img *ngFor="let contact of contactData" class="col-2 col-sm-2 col-md-1 col-xl-1 col-xxl-1 img"
          (click)="redirectToSocialLink(contact.name)" src="{{contact.image_path}}" alt="{{contact.name}}">
      </div>
    </div>

    <!-- <div class="col-12 col-sm-12 col-md-12 col-xl-5 image-container">
      <img src="../../../assets/images/sagar-grey-background.png" alt="SAGAR" class="image">
      <div class="background"></div>
    </div> -->
  </div>
  <h5 class="col-12 col-sm-12 col-md-12 col-xl-12 closing-tag red-color bold">&lt;/about&gt;</h5>
</div>

<div class="col-11 col-sm-11 col-md-11 col-xl-11 orbit">
  <ul class="orbit-wrap">
    <li class="orbit-center">
      <i class="orbit-center__icon fa fa-code"></i>
    </li>
    <li *ngFor="let ringData of orbitData">
      <ul [ngClass]="ringData.ring_class">
        <li *ngFor="let iconData of ringData.icon_data">
          <img class="orbit-icon" src="{{iconData.image_path}}" alt="{{iconData.name}}">
        </li>
      </ul>
    </li>
  </ul>
</div>
