.container {
  margin-top: 3vh;
  animation: transitionIn 2.5s;

  .heading {
    text-align: left;
  }

  .heading::after {
    display: inline-block;
    content: "";
    border-top: 3px solid #cf1c1a;
    width: 10vw;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
  }

  .experience {
    margin-top: 3vh;

    .card {
      background-color: #272727;
      margin: 3vh 0;
    }

    .card:hover {
      transform: scale(1.04);
      transition: 0.5s;
    }
  }
}

@media screen and (min-width: 320px) {
  .experience {
    h2,
    h4 {
      font-size: 1rem;
    }

    p {
      font-size: 0.8rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .experience {
    h2 {
      font-size: 1.5rem;
    }

    h4 {
      font-size: 1.2rem;
    }

    p {
      font-size: 1rem;
    }

    img {
      height: 100%;
    }
  }
}

@media screen and (min-width: 1440px) {
  .experience {
    h2 {
      font-size: 2rem;
    }

    h4 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
    }
  }
}
