.container {
  margin-top: 3vh;
  animation: transitionIn 2.5s;

  .heading {
    text-align: left;
  }

  .heading::after {
    display: inline-block;
    content: "";
    border-top: 3px solid #cf1c1a;
    width: 10vw;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
  }

  .experience {
    margin-top: 3vh;

    .card {
      background-color: #272727;
      margin: 3vh 0;
    }

    .card:hover {
      transform: scale(1.04);
      transition: 0.5s;
    }
  }
}
