<div class="col-md-12 container">
  <h4 class="col-md-12 heading voilet-color bold"><span class="red-color bold">03.</span> WORK EXPERIENCE</h4>

  <!-- <div class="card mb-3" style="max-width: 540px;"> -->
  <div class="experience">
    <h5 class="col-md-12 opening-tag red-color">&lt;experience&gt;</h5>
    <div class="card mb-3 voilet-color">
      <div class="row g-0">
        <div class="col-md-3">
          <img src="../../../assets/images/delhivery.png" class="img-fluid rounded-start" alt="noice">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h2 class="card-title text-center">Software Developer</h2>
            <h4 class="card-title text-center">DELHIVERY</h4>
            <p class="card-text text-center"><small class="text-muted">(APRIL 2021 - PRESENT)</small></p>
            <p class="card-text">
              1. Worked to migrate Flipkart lite’s product page to AMP pages so that they load up instantly.
            </p>
            <p class="card-text">
              2. Made changes in the current progressive web app of Flipkart to react to different actions performed on
              AMP page.
            </p>
            <p class="card-text">
              3. Created a node module called “fk-amp” which abstracts all the files and middlewares and can be easily
              imported and used from express server.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3 voilet-color">
      <div class="row g-0">
        <div class="col-md-3">
          <img src="../../../assets/images/delhivery.png" class="img-fluid rounded-start" alt="noice">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h2 class="card-title text-center">Software Developer</h2>
            <h4 class="card-title text-center">DELHIVERY</h4>
            <p class="card-text text-center"><small class="text-muted">(APRIL 2021 - PRESENT)</small></p>
            <p class="card-text">
              1. Worked to migrate Flipkart lite’s product page to AMP pages so that they load up instantly.
            </p>
            <p class="card-text">
              2. Made changes in the current progressive web app of Flipkart to react to different actions performed on
              AMP page.
            </p>
            <p class="card-text">
              3. Created a node module called “fk-amp” which abstracts all the files and middlewares and can be easily
              imported and used from express server.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3 voilet-color">
      <div class="row g-0">
        <div class="col-md-3">
          <img src="../../../assets/images/delhivery.png" class="img-fluid rounded-start" alt="noice">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h2 class="card-title text-center">Software Developer</h2>
            <h4 class="card-title text-center">DELHIVERY</h4>
            <p class="card-text text-center"><small class="text-muted">(APRIL 2021 - PRESENT)</small></p>
            <p class="card-text">
              1. Worked to migrate Flipkart lite’s product page to AMP pages so that they load up instantly.
            </p>
            <p class="card-text">
              2. Made changes in the current progressive web app of Flipkart to react to different actions performed on
              AMP page.
            </p>
            <p class="card-text">
              3. Created a node module called “fk-amp” which abstracts all the files and middlewares and can be easily
              imported and used from express server.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3 voilet-color">
      <div class="row g-0">
        <div class="col-md-3">
          <img src="../../../assets/images/delhivery.png" class="img-fluid rounded-start" alt="noice">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h2 class="card-title text-center">Software Developer</h2>
            <h4 class="card-title text-center">DELHIVERY</h4>
            <p class="card-text text-center"><small class="text-muted">(APRIL 2021 - PRESENT)</small></p>
            <p class="card-text">
              1. Worked to migrate Flipkart lite’s product page to AMP pages so that they load up instantly.
            </p>
            <p class="card-text">
              2. Made changes in the current progressive web app of Flipkart to react to different actions performed on
              AMP page.
            </p>
            <p class="card-text">
              3. Created a node module called “fk-amp” which abstracts all the files and middlewares and can be easily
              imported and used from express server.
            </p>
          </div>
        </div>
      </div>
    </div>
    <h5 class="col-md-12 closing-tag red-color">&lt;/experience&gt;</h5>
  </div>
</div>
