<div class="col-12 col-sm-12 col-md-12 col-xl-12 container">
  <h4 class="col-12 col-sm-12 col-md-12 col-xl-12 heading voilet-color bold">
    <span class="red-color bold">03.</span>WORK EXPERIENCE
  </h4>

  <!-- <div class="card mb-3" style="max-width: 540px;"> -->
  <div class="experience">
    <h5 class="col-12 col-sm-12 col-md-12 col-xl-12 opening-tag red-color">&lt;experience&gt;</h5>

    <div *ngFor="let exp of experiences" class="card mb-3 voilet-color">
      <div class="row g-0">
        <div class="col-12 col-xs-12 col-md-3 col-xl-3">
          <img src="{{exp.company.logo}}" class="img-fluid rounded-start" alt="{{exp.company.name}}">
        </div>
        <div class="col-12 col-xs-12 col-md-9 col-xl-9">
          <div class="card-body">
            <h2 class="card-title text-center">{{exp.role}}</h2>
            <h4 class="card-title text-center">{{exp.company.name}}</h4>
            <p class="card-text text-center">
              <small class="text-muted">({{exp.timeline.from}} - {{exp.timeline.to}})</small>
            </p>
            <ul *ngFor="let info of exp.information" class="card-text">
              <li>{{info}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <h5 class="col-12 col-sm-12 col-md-12 col-xl-12 closing-tag red-color">&lt;/experience&gt;</h5>
  </div>
</div>
