@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);
/* You can add global styles to this file, and also import other style files */
body {
  background-color: black !important;
  font-family: "Fira Code" !important;
}

.blue-font {
  color: #66c8e6 !important;
}
