@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);
/* You can add global styles to this file, and also import other style files */
body {
  background-color: black !important;
  font-family: "Fira Code" !important;
}

.blue-color {
  color: #66c8e6 !important;
}

.red-color {
  color: #cf1c1a !important;
}

.white-color {
  color: white;
}

.voilet-color {
  color: #cfd6ed;
}

.grey-color {
  color: #8892af;
}

.bold {
  font-weight: bold;
}

.cool-link {
  display: inline-block;
  color: #66c8e6;
  text-decoration: none;
}

.cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #66c8e6;
  transition: width 0.3s;
}

.cool-link:hover::after {
  width: 100%;
}
