@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";

body {
  background-color: black !important;
  font-family: "Fira Code" !important;
}

.blue-color {
  color: #66c8e6 !important;
}

.red-color {
  color: #cf1c1a !important;
}

.white-color {
  color: white;
}

.voilet-color {
  color: #cfd6ed;
}

.grey-color {
  color: #8892af;
}

.bold {
  font-weight: bold;
}

.cool-link {
  display: inline-block;
  color: #cf1c1a;
  text-decoration: none;
}

.cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #cf1c1a;
  transition: width 0.3s;
}

.cool-link:hover::after {
  width: 100%;
}

.mt-5 {
  margin-top: 5vh;
}

.fs-5 {
  font-size: 5vh;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
